.gaming-trending-container {
  background-color: #313131;
  padding: 20px;
  display: flex;
  align-items: center;
}

.gaming-fire-icon {
  font-size: 35px;
  color: #ff0b37;
}
.gaming-container {
  display: flex;
}
.retry-btn {
  cursor: pointer;
  background-color: #2563eb;
  height: 32px;
  width: 90px;
  border: none;
  font-size: 15px;
  outline: none;
  color: #ffffff;
}
.gaming-fire-container {
  background-color: #000000;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin-right: 25px;
}

.gaming-top-container {
  padding-top: 10px;

  width: 100%;
}
.loader-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.gaming-all-videos {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
