.input-container {
  display: flex;
  align-items: center;
  height: 35px;
  border: 1px solid #64748b;
  overflow: hidden;
  background-color: #e2e8f0;
  width: 40%;
  justify-content: space-between;
}

.home-container {
  display: flex;
}
.search-icon {
  color: #475569;
  font-size: 25px;
  outline: none;
  margin-right: 15px;
  margin-top: 5px;
  margin-left: 15px;
}

.search-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.all-videos {
  display: flex;
  align-items: center;
  list-style-type: none;
  flex-wrap: wrap;
}

.web-logo {
  width: 200px;
  margin-bottom: 20px;
}

.get-it-now-btn {
  background-color: transparent;
  height: 35px;
  width: 96px;
  font-family: 'roboto';
  font-size: 15px;
  color: #475569;
  border: 2px solid #475569;
  font-weight: 600;
  cursor: pointer;
}

.para {
  font-family: 'roboto';
  font-size: 20px;
  margin-bottom: 30px;
}

.cross-btn {
  background: none;
  border: none;
  align-self: flex-end;
  cursor: pointer;
}

.cross-icon {
  font-size: 15px;
}

.display-videos {
  display: flex;
  justify-content: center;
}

.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.oops-error {
  font-size: 30px;
  color: #ffffff;
  font-family: 'roboto';
}

.failure-error-msg {
  font-size: 18px;
  color: #ffffff;
  font-family: 'roboto';
}
.retry-btn {
  cursor: pointer;
  background-color: #2563eb;
  height: 32px;
  width: 90px;
  border: none;
  font-size: 15px;
  outline: none;
  color: #ffffff;
  border-radius: 3px;
  margin-top: 20px;
  font-family: 'roboto';
}

@media screen and (max-width: 768px) {
  .input-container {
    width: 100%;
    margin-right: 20px;
  }
}

.no-videos {
  width: 400px;
  margin-bottom: 30px;
}

.no-videos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
