.logout-icon {
  color: #ffffff;
  font-size: 30px;
  margin-right: 30px;
  cursor: pointer;
  display: none;
}

.logout-button {
  background: none;
  border: none;
  outline: none;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.menu-icon {
  background: none;
  border: none;
  outline: none;
  font-size: 30px;
  color: #ffffff;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 768px) {
  .logout-icon {
    display: block;
  }
  .menu-icon {
    display: block;
  }
}

.logout-msg {
  font-size: 15px;
  color: #ffffff;
  font-family: 'roboto';
}

.logout-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.navbar-container {
  display: flex;
  align-items: center;
}

.website-logo {
  width: 150px;
  margin-left: 15px;
}

.profile {
  width: 20px;
  height: 20px;
}
.sun-icon {
  font-size: 30px;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .website-logo {
    width: 125px;
    margin-left: 10px;
  }
  .profile {
    display: none;
  }
  .sun-icon {
    margin-right: 10px;
  }
  .large-screen-container {
    display: none;
  }
}
.small-screen-container {
  display: none;
}

.cancel-button {
  background-color: transparent;
  border: 1px solid #ffffff;
  height: 32px;
  font-family: 'Roboto';
  font-size: 15px;
  width: 86px;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 550;
  color: #ffffff;
}

.confirm-button {
  background-color: #2563eb;
  border: none;
  height: 32px;
  font-family: 'Roboto';
  font-size: 15px;
  width: 86px;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 550;
  color: #ffffff;
}
