.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.oops-error {
  font-size: 30px;
  color: #ffffff;
  font-family: 'roboto';
}

.failure-error-msg {
  font-size: 18px;
  color: #ffffff;
  font-family: 'roboto';
}
.retry-btn {
  cursor: pointer;
}

.trending-container {
  background-color: #313131;
  padding: 20px;
  display: flex;
  align-items: center;
}

.fire-icon {
  font-size: 35px;
  color: #ff0b37;
}

.fire-container {
  background-color: #000000;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin-right: 25px;
}

.trending-heading {
  font-size: 28px;
  font-family: 'roboto';
  color: #ffffff;
  font-weight: 550;
}

.top-container {
  padding: 20px;
  width: 100%;
}

.loader-container {
  display: flex;
  justify-content: center;
}
